[user]
  name = {{ .personal_name }}
  email = {{ .personal_email }}
  signingkey = {{ .gpg_keyid }}

[includeIf "gitdir:~/work/{{ .work_dir }}/"]
  path = ~/.gitconfig_work

[commit]
  gpgsign = true

[gpg]
  program = gpg

[core]
  autocrlf = input
  excludesfile = ~/.gitignore

[init]
  defaultBranch = main

[pull]
  rebase = false

[push]
  default = upstream
  autoSetupRemote = true

[help]
  autocorrect = 1

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    light = false    # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
